* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(30, 54%, 90%);
    padding-bottom: 50px;
}

.card {
    max-width: 600px;
    background: hsl(0, 0%, 100%);
    margin: 100px auto 50px;
    padding: 3rem;
    border-radius: 30px;
}

.card img {
    display: block;
    width: 100%;
    border-radius: 15px;
}

h1,
h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    color: hsl(24, 5%, 18%);
    margin: 20px 0 10px;
}

h2 {
    color: hsl(14, 45%, 36%);
    margin: 20px 0 15px;
    font-size: 1.8rem;
}

p,
li,
.nutrition-table {
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

li {
    padding-bottom: 10px;
    margin-left: 25px;
    padding-left: 20px;
}

#preparation {
    background: hsl(330, 100%, 98%);
    padding: 20px;
    margin-top: 20px;
}

#preparation h2 {
    font-family: "Outfit", sans-serif;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0 0 10px;
}

#preparation li:last-child {
    padding-bottom: 0;
}

.prepare-list-style li::marker {
    color: hsl(332, 51%, 32%);
}

.list {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 0 0.5rem 20px;
}

.order {
    list-style: none;
    counter-reset: step;
}

.order li {
    padding-bottom: 10px;
    padding-left: 0;
    counter-increment: step;
    margin-left: 0;
}

.order li::before {
    content: counter(step) ". ";
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    font-size: 1.2rem;
    margin-right: 10px;
}

.nutrition-table p {
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.no-border {
    border-bottom: none;
}

td {
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;
}

td:first-child {
    padding-left: 30px;
}

td:last-child {
    padding-left: 0;
    text-align: left;
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

#attribution {
    font-size: 1rem;
    text-align: center;
}

#attribution a {
    color: hsl(14, 45%, 36%);
    transition: color 0.3s ease, font-weight 0.2s ease;
}

#attribution a:hover {
    font-weight: 600;
}

@media (max-width: 769px) {
    body {
        padding: 0;
    }

    .card {
        border-radius: 0;
        max-width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
    }

    p,
    li,
    .nutrition-table {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    td {
        padding: 10px 30px;
    }

    .card img {
        border-radius: 0;
    }

    section {
        margin: 0 1rem 0;
        padding: 0;
    }

    #attribution {
        padding: 1rem 0;
    }

    #attribution p {
        font-size: 14px;
    }
}

@media (min-width: 2560px) {
    .card {
        padding: 3rem;
    }

    h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }

    h2 {
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    #preparation {
        padding: 40px;
    }

    #preparation h2 {
        font-size: 2.3rem;
    }

    p,
    li,
    .order li::before,
    td {
        font-size: 2rem;
        line-height: 60px;
        margin-left: 30px;
    }

    p {
        margin-left: 0;
    }

    .list {
        padding: 0 1rem 3rem;
    }
}
